/**********************Header styling***************************************************/
.header{
    background-image: url("../image/head1.jpg"); 
    padding-bottom: 350px;
    background-repeat: no-repeat;
    background-size:cover;
   
    border-bottom: 2px solid grey;
    
    
}
.header>h1{
    text-align:center;
    padding-top:200px;
    color: white;

}
.aboutme{
    border-bottom: 2px solid grey;

}
/**********************aboutme styling***************************************************/

.aboutme1{
  text-align: center; 

}
#img1 {
    border-radius:200px;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);

}

 .aboutme2{
display:flex;
flex-direction:row;
justify-content:space-around;
} 
 .card1,.card2,.card3,.card4{
    box-shadow: 5px 5px 5px 0 rgba(149, 165, 166, 1);
    max-width:250px;
    max-height:250px;
    margin-bottom:5px;
 }
 #me1:hover,#me2:hover,#me3:hover,#me4:hover{
     color:rgba(149, 165, 166, 1)
 }
/**********************myproject styling*****************************************************************/
.myprojects{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.projects{
    display: flex;
    justify-content: center;
    
}

#img2:hover,#img3:hover,#img4:hover{
    
    border-radius: 100px; 
    opacity:0.7;
} 
/**********************myproject styling*****************************************************************/
footer{
    background-color: grey;
    
}
.socialmd{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.cprt{
    text-align: center;
    
}



footer {

    background-color: #ecf0f1;


}

/* body {
    background-image: url('https://images.unsplash.com/photo-1506508618093-6fe5ce3def4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */


#Projects {
    height: 200px;
    background-image: linear-gradient(white, green, black);
}




.portfolio {
    padding: 6%;
    text-align: center;
}

.heading {
    background: #fff;
    padding: 1%;
    text-align: left;
    box-shadow: 0px 0px 4px 0px #545b62;
}

.heading img {
    width: 10%;
}

.bio-info {
    padding: 5%;
    background: #fff;
    box-shadow: 0px 0px 4px 0px #b0b3b7;
}

.name {
    font-family: 'Yeon Sung', cursive;
    font-weight: 600;
}

.bio-image {
    text-align: center;
}

.bio-image img {
    border-radius: 50%;
}

.bio-content {
    text-align: left;
}

.bio-content p {
    font-weight: 600;
    font-size: 30px;
}





/* projects */



section {
    padding: 100px 0;
}

.details-card {
    background: #ecf0f1;
}

.card-content {
    background: #ffffff;
    border: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.card-img {
    position: relative;
    overflow: hidden;
    border-radius: 0;
    z-index: 1;
}

.card-img img {
    width: 100%;
    height: auto;
    display: block;
}

.card-img span {
    position: absolute;
    top: 15%;
    left: 12%;
    background: #1ABC9C;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%, -50%);
}

.card-img span h4 {
    font-size: 12px;
    margin: 0;
    padding: 10px 5px;
    line-height: 0;
}

.card-desc {
    padding: 1.25rem;
}

.card-desc h3 {
    color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
    color: #747373;
    font-size: 14px;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0;
    font-family: 'Yeon Sung', cursive;
}



a.btn-card {
    text-decoration: none;
    color: #fff;
}

#about,
.skillss {
    background: linear-gradient(90deg, #e8e8e8 50%, #ecf0f1 50%);
    font-family: 'Yeon Sung', cursive;
}

h3,
h4 {
    font-family: 'Yeon Sung', cursive;
}

.myskills {
    width: 100%;
    background-color: #ddd;
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.html {
    width: 80%;
    background-color: #e8e8e8;
    color: black;
}

.css {
    width: 75%;
    background-color: #ecf0f1;
    color: black;
}

.js {
    width: 65%;
    background-color: #e8e8e8;
    color: black;
}

.python {
    width: 70%;
    background-color: #ecf0f1;
    color: black;
}
    



